<div class="loginAdmin">
    <form [formGroup]="loginForm" (ngSubmit)="authentification()">
        <div class="form-group">
            <label for="form-label">Email :</label>
            <input type="text" name="" id="" placeholder="Votre email" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label for="form-label">Mot de passe :</label>
            <input type="text" name="" id="" placeholder="Votre mot de passe" class="form-control"
                formControlName="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control">Connexion</button>
        </div>
    </form>
</div>