<div class="login_container">
    <form>
        <div class="input_form">
            <label for="">Email</label>
            <input type="text" class="form-control" placeholder="user name">
        </div>
        <div class="input_form">
            <label for="">Mot de passe</label>
            <input type="text" class="form-control" name="" placeholder="password">
        </div>
        <div class="input_form">
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
</div>