.offiche {
    margin: 1rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .header-left {
            display: flex;
            width: 50%;

            .form-moi {
                margin-right: 1rem;
            }

        }

        .header-right {
            span {
                font-weight: bold;

                span {
                    color: blue;
                }
            }
        }

    }
}