<div class="container_ecran">
    <header>
        <img src="" alt="" srcset="">
        <span>Titre</span>
    </header>
    <main>
        <video autoplay [volume]="0">
            <source src="../../assets/images/videos.mp4" type="video/mp4">
        </video>
        <!--<iframe src="https://player.vimeo.com/video/346340496" width="320" 
                height="200" frameborder="0" title="test" webkitallowfullscreen 
                mozallowfullscreen allowfullscreen></iframe-->
        <div class="ecran_appelle">
            <span>Appelle</span>
        </div>
    </main>
    <footer>
        <span>Suis footer</span>
    </footer>
</div>