<div class="containair-dasboard">
    <div class="header">
        <div class="sous-menu">
            <div class="stat-menu">
                <span>Tache traité :</span>
                <span> 50</span>
            </div>
            <a routerLink="/my/list_tache">Liste</a>
        </div>
        <div class="sous-menu">
            <div class="stat-menu">
                <span>Tache traité</span>
                <span>50</span>
            </div>
            <a routerLink="/my/list_tache"></a>
        </div>
        <div class="sous-menu">
            <div class="stat-menu">
                <span>Tache traité</span>
                <span>50</span>
            </div>
            <a routerLink="/my/list_tache"></a>
        </div>
    </div>
    <div class="table-liste">
        <button class="btn btn-danger" (click)="tst()">test</button>
    </div>
</div>