<div class="home_container">
    <header class="header">
        <img src="" alt="">
        <p>Gestion file d'attente</p>
    </header>
    <main>
        <div>
            <div class="main">
            <button routerLink="/login">Gestion file d'attente</button>
            <button routerLink="/appelle">Appelle</button>
        </div>
        <div class="main">
            <button routerLink="/ticket">Borne de ticket</button>
            <button routerLink="/ecran">Ecran d'affichage</button>
        </div>
        </div>
        
    </main>    
</div>